@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body{
    color: #0bdbd4;
    background-color: #151313;
  }
}

@layer components{
  .menuLink{
    @apply cursor-pointer hover:text-[#317c91];
  }
  .tags{
    background-color: #0bdbd4;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: black;
    font-size: 16px;
  }
}